.custom-btn{
    background-color: #f36d93;
    align-items: center;
    justify-content: center;
}
.cardItem{
    flex-direction: row;
    justify-content: center;
    
}
.price{
    font-size: 20px;
}
.countBtn{
    display:flex;
    align-items: center;
    justify-content: center;
}
.itemCount{
    margin: 15px;
}

