.title{
    font-size: 25px;
}
.custom-btn{
    margin: 20px;
    background-color: #f36d93;
    align-items: center;
    justify-content: center;
}
.price{
    font-size: 25px;
}
.countBtns{
    display:flex;
    align-items: center;
    justify-content: center;
}
.count-btn{
    background-color:#f36d93;
}
.itemCount{
    margin: 10px;
}
.cart-btn{
    color:#f36d93;
    font-weight: bolder;
}
