.card-detail{
    margin: 100px;
    justify-content: center;
    align-items: center;
    
}
.title{
    font-size: 25px;
    font-weight: 700;
}
.detail{
    text-align: center;
}
.custom-btn{
    margin: 20px;
    background-color: #f36d93;
    align-items: center;
    justify-content: center;
}
.price{
    font-size: 25px;
    text-align-last: center;    
}
.count-btns{
    display:flex;
    align-items: center;
    justify-content: center;
}
.count-btn{
    background-color:#f36d93;
}
.itemCount{
    margin: 10px;
}
.cart-btn{
    color:#f36d93;
    font-weight: bolder;
}
