.navbar{
    height: 50px;
    color: white;
    background-color: white;
    font-size: 20px;
  }

.logo{
  background-color: white;
}
  
.navbar-brand{
    width: 30%;
  }

.FontAwesomeIcon{
    height: 50%;
}

.NavDropDown.Item{
    color: #f6d0db;
}
